<h1><%= @machine.location %> Vending Machine</h1>
<h3> Average Price:  $<%= @machine.average_snack_price %> </h3>


<p>
<ul>
  <% @machine.snacks.each do |snack| %>
  <%= snack.name %> <br>
  <%= snack.price %>
  <% end %>
</ul>

</p>
